<div class="dashboard">
<!-- Sidebar navigation -->
<nav class="side-nav">
  <h1><a routerLink="/teacher/dashboard" style="text-decoration: none">Dashboard</a></h1>
  <div class="nav-items">
    <ul class="ul-list">
      <li >
        <a  routerLink="/teacher/profile">
          <i ></i>Teacher Profile
        </a>
      </li>
      <li >
        <a  routerLink="/teacher/register-course" >
          <i ></i>Add Course
        </a>
      </li>
      <li >
        <a  routerLink="/teacher/view-courses">
          <i ></i>My Courses
        </a>
      </li>
      <!-- Calling SignOut() Api from AuthService -->
      <li >
        <a  (click)="authService.SignOut()">
          <i ></i>Log out
        </a>
      </li>
    </ul>
  </div>
</nav>
<main role="main" >

  <h1 >Edit Student Details</h1>
  <div >
    <div >
      <button  (click)="goBack()">
        Go Back
      </button>
    </div>
  </div>
  <div >
    <div >
      <div >
        <form [formGroup]="editForm" (ngSubmit)="updateForm()" novalidate>
          <div >
            <div >
              <div >
                <div >
                  <label>Course Title</label>
                  <input
                    type="text"
                    formControlName="courseTitle"

                    required
                  />
                  <p *ngIf="courseTitle?.touched && courseTitle?.invalid" >
                    <sup>*</sup>Please enter course title
                  </p>
                  <p *ngIf="courseTitle?.errors?.['minlength']" >
                    <sup>*</sup>Title shouldn't be less than 2 words
                  </p>
                </div>
                <div>
                  <label>Description</label>
                  <input
                    type="text"
                    formControlName="description"

                  />
                </div>
                <div >
                  <label>Creator</label>
                  <input
                    type="text"
                    formControlName="creator"

                  />
                </div>
              </div>
              <div >
                <div >
                  <label>No of Students Enrolled</label>
                  <input
                    type="number"
                    formControlName="noOfStudents"

                    required
                  />
                  <p *ngIf="noOfStudents?.touched && noOfStudents?.invalid" >
                    <sup>*</sup>Please provide no of students
                  </p>
                  <p *ngIf="noOfStudents?.errors?.['pattern']">
                    <sup>*</sup>Please enter correct no
                  </p>
                </div>
                <div >
                  <label>Range</label>
                  <input
                    type="text"
                    formControlName="range"

                    required
                  />
                  <p
                    *ngIf="range?.touched && range?.invalid"

                  >
                    <sup>*</sup>Please provide range
                  </p>
                  <p *ngIf="range?.errors?.['pattern']" >
                    <sup>*</sup>Use numbers only number
                  </p>
                </div>
              </div>
              <div >
                <button
                  type="submit"

                  [disabled]="!editForm.valid"
                >
                  Update Student
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
</div>


