<div class="displayTable">
  <div class="displayTableCell">
    <form [formGroup]="characterRoleForm">
    <div class="authBlock">
      <h3>Sign Up</h3>
      <div class="formGroup">
        <input
          type="email"
          class="formControl"
          placeholder="Email Address"
          #userEmail
          required
        />
      </div>
      <div class="formGroup">
        <input
          type="password"
          class="formControl"
          placeholder="Password"
          #userPwd
          required
        />
      </div>
      <div class="d-grid">
        <select
          class="custom-select mb-3"
          (change)="changeRole($event)"
          formControlName="characterRole"
        >
          <option value="">Choose Role</option>
          <option *ngFor="let role of Roles" [ngValue]="role">
            {{ role }}
          </option>
        </select>
        <!-- error block -->
        <div class="invalid-feedback" *ngIf="isSubmitted && characterRole?.invalid">
          <sup>*</sup>Please provide character role
        </div>
      <div class="formGroup">
        <input
          type="button"
          class="btn btnPrimary"
          value="Sign Up"
          (click)="signUp(userEmail.value, userPwd.value, characterRoleForm)"
        />
      </div>
      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>
      <!-- Continue with Google -->
      <div class="formGroup">
        <button
          type="button"
          class="btn googleBtn"
          (click)="authService.GoogleAuth()"
        >
          <i class="fab fa-google-plus-g"></i>
          Continue with Google
        </button>
      </div>
  </div>
    <div class="redirectToLogin">
      <span
        >Already have an account?
        <span class="redirect" routerLink="/auth/sign-in">Log In</span></span
      >
    </div>
  </div>
</form>
</div>
