<div class="dashboard">
<!-- Sidebar navigation -->
<nav class="side-nav">
  <h1><a routerLink="/teacher/dashboard" style="text-decoration: none">Dashboard</a></h1>
  <div class="nav-items">
    <ul class="ul-list">
      <li >
        <a  routerLink="/teacher/profile">
          <i ></i>Teacher Profile
        </a>
      </li>
      <li >
        <a  routerLink="/teacher/register-course" >
          <i ></i>Add Course
        </a>
      </li>
      <li >
        <a  routerLink="/teacher/view-courses">
          <i ></i>My Courses
        </a>
      </li>
      <!-- Calling SignOut() Api from AuthService -->
      <li >
        <a  (click)="authService.SignOut()">
          <i ></i>Log out
        </a>
      </li>
    </ul>
  </div>
</nav>
<!-- Main content -->
<main role="main" >
<div >
  <h2 >Add Course</h2>
</div>
<form [formGroup]="courseForm" (ngSubmit)="submitCourseData()" novalidate>
  <div >
    <div >
      <div>
        <div >
          <label>Course Title</label>
          <input
            type="text"
            formControlName="courseTitle"
            required
          />
          <!-- errors-->
          <p *ngIf="courseTitle?.touched && courseTitle?.invalid" >
            <sup>*</sup>Please enter the course title
          </p>
          <p *ngIf="courseTitle?.errors?.['minlength']" >
            <sup>*</sup>Title shouldn't be less than 2 words
          </p>
        </div>
        <div >
          <label>Course Detail</label>
          <input type="text" formControlName="description" >
        </div>
      </div>
      <div >
        <div >
          <label>No of Students Enrolled</label>
          <input
            type="number"
            formControlName="noOfStudents"

            required
          />
          <!-- errors-->
          <!-- <p *ngIf="email?.touched && email?.invalid">
            <sup>*</sup>Please provide email
          </p> -->
          <!-- <p *ngIf="email?.errors?.['pattern']" ">
            <sup>*</sup>Please enter correct email
          </p> -->
        </div>
        <div >
          <label>range</label>
          <input
            type="number"
            formControlName="range"

            required
          />
          <!-- errors-->
          <p *ngIf="range?.touched && range?.invalid" >
            <sup>*</sup>Please provide contact number
          </p>
          <p *ngIf="range?.errors?.['pattern']" >
            <sup>*</sup>Use numbers only number
          </p>
        </div>
      </div>
      <div >
        <button
          type="button"

          (click)="ResetForm()"
        >
          Reset
        </button>
        <button
          type="submit"

          [disabled]="!courseForm.valid"
        >
          Add Student
        </button>
      </div>
    </div>
  </div>
</form>
</main>
</div>
