<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Sign In</h3>
        <form [formGroup]="loginForm" (submit)="onFormSubmit(loginForm)">
          <div class="input-field">
            <div class="formGroup">
              <input type="text" formControlName="userName" class="formControl" placeholder="Username" #userName required>
            </div>
            <div class="formGroup">
              <input type="password" formControlName="password" class="formControl" placeholder="Password" #userPassword required>
            </div>
          </div>
          <!-- Calling SignIn Api from AuthService -->
          <input class="btn btnPrimary" type="submit" value="Log in">
        </form>
        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>
        <!-- Calling GoogleAuth Api from AuthService -->
        <div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="googleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Log in with Google
          </button>
        </div>
        <div class="forgotPassword">
          <span routerLink="/auth/verify-email-address">Forgot Password?</span>
        </div>
      </div>
      <div class="redirectToLogin">
        <span>Don't have an account?<span class="redirect" routerLink="/auth/register-user"> Sign Up</span></span>
      </div>
    </div>
  </div>

